* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    background-color: #EBEBEB;
    font-family: 'Fredoka One', sans-serif, Arial, Helvetica, sans-serif;
}

h1 {
    line-height: 25px;
    margin-left: 20px;
    padding: 20px 5px;
}

h2 {
    text-align: center;
    padding: 8vh 0;
}

h3 {
    font-size: 16px;
    text-align: center;
    margin: 20px;
}

.disappear {
    position: absolute;
    height: 100vh;
    width: 100vw;
    transform: translateX(0%);
    transition: ease-in .6s;
}

button {
    display: block;
    position: relative;
    height: 6vh;
    width: 90vw;
    top: 20vh;
    margin: 10px auto;
    border-style: none;
    /* ramka przycisku */
    outline: none;
    /* ramka po kliknięciu */
    border-radius: 10px;
    background-color: #F45B69;
    font-size: 4vh;
    font-family: 'Fredoka One', sans-serif, Arial, Helvetica, sans-serif;
    cursor: pointer;
}

.square {
    display: flex;
    flex-wrap: wrap;
    margin: 5vh auto 10vh auto;
    padding: 12px;
    height: 45vh;
    width: 45vh;
    background-color: #fff;
    border-radius: 15px;
    transform: translateX(100vw);
    transition: ease-in .6s;
}

.field {
    display: flex;
    justify-content: center;
    /* align horizontal */
    align-items: center;
    /* align vertical */
    flex-basis: 26%;
    /* przy row: szerokość a przy column: wysokość */
    flex-grow: 1;
    /* elementy rosną w poziomie */
    text-align: center;
    /*  centrowanie elementu wewnątrz */
    line-height: 50px;
    font-weight: 900;
    margin: 2%;
    font-size: 0px;
    border-radius: 15px;
    background-color: #59C3C3;
}

.shield {
    position: absolute;
    height: 100vh;
    width: 100vw;
    bottom: -100vh;
    left: 0vw;
}

p.win {
    position: relative;
    height: 20vh;
    width: 80vw;
    top: 12vh;
    left: 50vw;
    transform: translate(-50%, 0%);
    font-size: 10vh;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    background-color: rgb(255, 255, 255);
    border: solid 5px #F45B69;
    border-radius: 10px;
}

.newGameButton {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%);
}

@media (min-width: 640px) {

    p.win,
    button {
        width: 50vw;
    }
}

@media (max-width: 380px) {
    h3 {
        font-size: 4vw;
    }
}

.gameScreen {
    position: fixed;
    width: 1px;
}
